*.cfg
*.cache
*.lst
*.ain
*.sav
*.vmt
*.vtf
*.tga
*.vpk
*.hl1
*.hl2
*.hl3
*.kv
*.lnk
hl2_rebalance/voice_ban.dt
hl2_rebalance/stats.txt
hl2_rebalance/gamestate.txt
hl2_rebalance/console.log
hl2_rebalance/cfg/server_blacklist.txt
hl2_rebalance/demoheader.tmp
